<!DOCTYPE html>
<html>

  {% include head.html %}

<body>
    <div style="overflow-x:hidden;display"></div>
    <div id="layout" class="pure-g">
        <div class="pure-u-1">
            <div id="header">
                <div class="content" style="padding:0px;">
                    <div class="toggle screen-mobile" id="menu-btn">
                        <i class="fa fa-reorder fa-2x"></i>
                    </div>
                    <h1 class="brand">
                        <a href="/">{{ site.title }}</a>
                    </h1>
                    <nav class="nav screen-md">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a href="/archive"><i class="fa fa-calendar-o"></i><br /> 存档</a>
                            </li>
                            <li class="nav-item">
                                <a href="/about"><i class="fa fa-info-circle"></i><br /> 关于</a>
                            </li>
                            <li class="nav-item">
                                <a href="/messages"><i class="fa fa-comments"></i><br /> 信息</a>
                            </li>
                            <li class="nav-item">
                                <a href="/links"><i class="fa fa-link"></i><br /> 链	接</a>
                            </li>
                        </ul>
                    </nav>
                    
                    <nav class="nav screen-mobile" id="toggle-nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a href="/archive"><i class="fa fa-calendar-o"></i> 存档</a>
                            </li>
                            <li class="nav-item">
                                <a href="/about"><i class="fa fa-info-circle"></i> 关于</a>
                            </li>
                            <li class="nav-item">
                                <a href="/messages"><i class="fa fa-comments"></i> 信息</a>
                            </li>
                            <li class="nav-item">
                                <a href="/links"><i class="fa fa-link"></i> 链接</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            <div id="mainbody">
                <div class="content">
                    {{ content }}
                </div>
            </div>
            <div id="footer">
                <div class="content">
                    <p>&copy; {{ site.start_year }} <span id="now_year"></span> {{ site.author.name }}. </p>
                </div>
            </div>
        </div>
    </div>

    {% include scripts.html %}
   <!--google統計所用 {% include component/ga %}-->

  </body>

</html>
